form {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 350px;
    height: 250px;
    box-shadow: 0px 0px 60px -10px rgb(133, 127, 127);
    flex-direction: column;
    border-radius: 5px;
    background-color: rgba(50, 18, 80, 0.637);
    color: white;
}



.info {
    margin: 10px 0px 20px 0px;
}

.labelemail {
    margin-right: 55px;

    font-family: Arial, Helvetica, sans-serif;
}

.labelpassword {
    margin-right: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

.inputs {
    border: 1px solid gray;
    border-radius: 5px;
}

button {
    width: 40%;
    height: 30px;
    border: none;
    color: white;
    background-color: rgb(0, 0, 0);
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: rgb(11, 17, 73);
    transition: background-color 0.3s ease;
}

button:active {
    color: black;
    background-color: rgb(255, 255, 255);
}